@import './mixins/flex';

.bookings {
  background-color: white;
  color: black;

  @include page;
  flex-flow: column nowrap;
}

.heading {
  display: flex;
  flex-direction: row;

  padding: 20px 10px 20px 10px;

  .title {
    flex: 1 0 auto;
    color: black;
  }

  .cancel {
    flex: 0 1 auto;
  }
}
