@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css');

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

body {
  background-color: transparent;
  font-family: "Roboto" sans-serif;
  margin: 0;
  padding: 0;
}

:global(.app-container) {
  height: 100vh;
  overflow: hidden;
}
