@import './mixins/flex';

.bookings {
  background-color: white;
  color: black;

  @include page;

  flex-flow: column nowrap;
  height: 100%;
}

.heading {
  padding: 20px 10px 20px 10px;
  background-color: lightgray;
  .title {
    width: 90%;
    float: left;
    color: black;
  }
  .cancel {
    width: 10%;
    float: right;
  }
}
