@import './mixins/flex';
@import './mixins/media';

.bookables-list {
  background-color: white;

  @include page;
  position: fixed;
  top: 0;
  width: 100vw;
  flex-flow: column nowrap;
}


.bookables-header {
  display: flex;
  flex-flow: row nowrap;

  margin-top: 10px;
  padding: 10px;

  .back {
    flex: 0;
  }

  .heading {
    color: black;
    text-align: center;
    width: 100vw;
    position: absolute;
    pointer-events: none;
  }
}

.bookable {
  color: black;
  display: flex;
  border-top: 1px solid lightgray;
  margin-top: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  align-content: center;
  justify-content: space-between;
  user-select: none;

  @include desktop {
    width: 95%;
    padding: 20px;
    &:hover {
      background-color: #dfe7f1;
    }
  }
}
