@import './mixins/flex';

.bookablesList {
  background-color: black;

  @include page;

  flex-flow: column nowrap;
}

.bookable {
  border-top: 1px solid white;
  margin-top: 10px;
  padding-left: 10px;
  padding-top: 10px;
}
